<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
	$(document)
			.ready(
					function() {

						$('#estadoId')
								.change(
										function() {

											$
													.getJSON(
															'http://localhost:8082/admin/empresas/getCidades',
															{
																estadoId : $(
																		this)
																		.val(),
																ajax : 'true'
															},
															function(data) {

																var html = '<option value="0" label="Selecione...">Selecione</option>';
																var len = data.length;

																for (var i = 0; i < len; i++) {
																	html += '<option value="' + data[i].id + '">'
																			+ data[i].nome
																			+ '</option>';
																}
																html += '</option>';

																$('#cidadeId')
																		.html(
																				html);
															});
										});

					});
</script>

<title>Cadastrar Empresa</title>
</head>

<body>
	<div layout:fragment="content" class="container" align="center">
		<form th:action="@{/admin/empresas/cadastrarAlterarEmpresa}"
			th:object="${empresa}" method="POST">

			<h4>Dados Gerais</h4>
			<div class="form-group">
				<label for="inputTitulo">Título*</label> <input type="text"
					th:field="*{titulo}" class="form-control" id="inputTitulo"
					placeholder="Título"> <span
					th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"
					class="error text-danger"></span>
			</div>

			<div class="form-group">
				<label for="inputDescricao">Descrição*</label>
				<textarea rows="3" th:field="*{descricao}" class="form-control"
					id="inputDescricao" placeholder="Breve descrição da Empresa"> <span
						th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"
						class="error text-danger"></span>
					</textarea>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCNPJ">CNPJ</label> <input type="text"
						th:field="*{cnpj}" class="form-control" id="inputCNPJ"
						placeholder="CNPJ"> <span
						th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"
						class="error text-danger"></span>
				</div>

				<div class="form-group col-md-6">
					<label for="inputCodigo">Código</label> <input type="text"
						th:field="*{codigo}" class="form-control" id="inputCodigo"
						placeholder="Código"> <span
						th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"
						class="error text-danger"></span>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputRazaoSocial">Razão Social</label> <input
						type="text" th:field="*{razaoSocial}" class="form-control"
						id="inputRazaoSocial" placeholder="Razão Social"> <span
						th:if="${#fields.hasErrors('razaoSocial')}"
						th:errors="*{razaoSocial}" class="error text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label for="inputGestor">Gestor</label> <input type="text"
						th:field="*{nomeGestor}" class="form-control" id="inputNomeGestor"
						placeholder="Gestor"> <span
						th:if="${#fields.hasErrors('nomeGestor')}"
						th:errors="*{nomeGestor}" class="error text-danger"></span>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputTelefone">Telefone da Empresa</label> <input
						type="text" th:field="*{telefone}" class="form-control"
						id="inputTelefone" placeholder="Telefone"> <span
						th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"
						class="error text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label for="inputEmail">E-mail da Empresa</label> <input
						type="text" th:field="*{email}" class="form-control"
						id="inputEmail" placeholder="E-mail"> <span
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="error text-danger"></span>
				</div>
			</div>

			<hr>
			<h4>Dados de Endereço</h4>
			<br>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="estado">Estado*</label> <select id="estadoId"
						class="browser-default custom-select " name="estadoId">
						<!-- 					onclick="onEstadoChanged()" -->
						<option value="0" label="Selecione..." selected>Selecione</option>
						<option th:each="estado, status : ${estados}"
							th:value="${estado.id}" th:text="${estado.nome}">
							<input type="hidden" th:value="${estado.id}" th:name="${estado.id}" name="estadoId" th:selected="${estado.id == empresa.endereco.cidade.estado.id}"/>
						</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for=estado>Cidade*</label> <select id="cidadeId"
						class="browser-default custom-select " name="cidadeId">
						<option value="0" label="Selecione...">Selecione</option>
					</select>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCNPJ">CEP</label> <input type="text"
						th:field="*{endereco.cep}" class="form-control" id="inputCEP"
						placeholder="CEP"> <span
						th:if="${#fields.hasErrors('endereco.cep')}"
						th:errors="*{endereco.cep}" class="error text-danger"></span>
				</div>

				<div class="form-group col-md-6">
					<label for="inputNumero">Número</label> <input type="text"
						th:field="*{endereco.numero}" class="form-control"
						id="inputNumero" placeholder="Número"> <span
						th:if="${#fields.hasErrors('endereco.numero')}"
						th:errors="*{endereco.numero}" class="error text-danger"></span>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputBairro">Bairro/Povoado</label> <input type="text"
						th:field="*{endereco.bairroPovoado}" class="form-control"
						id="inputBairroPovoado" placeholder="Bairro/Povoado"> <span
						th:if="${#fields.hasErrors('endereco.bairroPovoado')}"
						th:errors="*{endereco.bairroPovoado}" class="error text-danger"></span>
				</div>

				<div class="form-group col-md-6">
					<label for="inputLogadouro">Logadouro</label> <input type="text"
						th:field="*{endereco.logadouro}" class="form-control"
						id="inputLogadouro" placeholder="Logadouro"> <span
						th:if="${#fields.hasErrors('endereco.logadouro')}"
						th:errors="*{endereco.logadouro}" class="error text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="inputComplemento">Complemento</label> <input type="text"
					th:field="*{endereco.complemento}" class="form-control"
					id="inputComplemento" placeholder="Complemento"> <span
					th:if="${#fields.hasErrors('endereco.complemento')}"
					th:errors="*{endereco.complemento}" class="error text-danger"></span>
			</div>

			<a class="btn btn-danger" th:href="@{/}">Cancelar</a> <input
				class="btn btn-success" type="submit" th:value="${operacaoButton}" />
		</form>
	</div>


</body>
</html>