<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>
<title>Gerenciar Empresas</title>
</head>

<body>

	<div layout:fragment="content" class="container" align="center">

		<a th:href="@{/admin/empresas/prepararCadastrarEmpresa}"
			class="btn btn-success btn-sm">Cadastrar Nova Empresa</a>
			
		<h4 align="left">Lista de Empresas Cadastradas</h4>

		<form>

			<table class="table table-striped table-bordered" id="tabela">
				<thead align="center">
					<tr>
						<th>Nome</th>
						<th>Gestor</th>
						<th>CNPJ</th>
						<th>Editar</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="empresa: ${empresas}" align="center">
						<td th:text="${empresa.titulo}" />
						<td th:text="${empresa.nomeGestor}" />
						<td th:text="${empresa.cnpj}" />
						<td><a
							th:href="@{/admin/empresas/prepararAlterarEmpresa(empresaId=${empresa.id})}"
							class="far fa-edit" style="font-size: 28px;"></a></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>



</body>
</html>