<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}" lang="pt-BR">


<head>

<title>Resultado da Avaliação Inicial</title>
 
</head>

<body>
	<div layout:fragment="content" class="container" align="center">
	<form th:action="@{/admin_empresa/resultado_avaliacao/cadastrarAlterarResultadoAvaliacao}"
			th:object="${resultadoAvaliacaoInicial}" method="POST">
  <div class="form-group" >
  
  <img th:src="${paciente.pessoa.enderecoFoto}" width="70px" />
  <h2><span th:text="${paciente.pessoa.nome}"></span></h2>
  
  <div class="form-row">
  <h4>Responsáveis:</h4>
  </div>
  <div class="form-row">
  <div th:each="responsavel: ${paciente.responsaveis}" class="form-group col-md-12" align="left">
  	<span th:text="${responsavel.pessoa.nome}"></span> <br>
  </div>
  </div>
  
  </div>
  <div class="form-group" >
  	<h4><strong>Queixa Principal</strong></h4>
        <textarea rows="8" th:field="*{queixaPrincipal}" lang="pt-BR"></textarea>
  </div>
  
   <div class="form-group" >
  	<h4><strong>História</strong></h4>
        <textarea rows="8" th:field="*{historia}"></textarea>
  </div>
  
  <div class="form-group" >
  	<h4><strong>Processo Avaliativo</strong></h4>
        <textarea rows="8" th:field="*{processoAvaliativo}"></textarea>
  </div>
  
  <div class="form-group" >
  	<h4><strong>Observações Cognitivas/Comportamentais</strong></h4>
        <textarea rows="8" th:field="*{observacoesCognitivasComportamentais}"></textarea>
  </div>
  
  <div class="form-group" >
  	<h4><strong>Resultados Avaliativos</strong></h4>
        <textarea rows="8" th:field="*{resultadosAvaliativos}"></textarea>
  </div>
  
  <div class="form-group" >
  	<h4><strong>Generalização, Pensamento Abstrato e Raciocínio</strong></h4>
        <textarea rows="8" th:field="*{generalizacaoPensamentoAbstratoRaciocinio}"></textarea>
  </div>
  
  <div class="form-group" >
  	<h4><strong>Considerações Finais/Orientacoes</strong></h4>
        <textarea rows="8" th:field="*{consideracoesFinaisOrientacoes}"></textarea>
  </div>
  
  <div class="form-group" >
  	<h4><strong>Encaminhamentos</strong></h4>
        <textarea rows="8" th:field="*{encaminhamentos}"></textarea>
  </div>
  
  
	<a class="btn btn-danger" th:href="@{/}">Cancelar</a> 
	<input	class="btn btn-success" type="submit" value="Cadastrar" />
  </form>
  </div>

</body>
</html>
	