<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>

<title>Cadastrar Paciente - Passo 3</title>
</head>

<body>
	<div layout:fragment="content" class="container" align="center">
		<form
			th:action="@{/admin_empresa/pacientes/cadastrarPaciente}"
			th:object="${foto}" method="POST" action="" enctype="multipart/form-data">

			<!-- Horizontal Steppers -->
			<div class="row">
				<div class="col-md-12">

					<!-- Stepers Wrapper -->
					<ul class="stepper stepper-horizontal">

						<!-- First Step -->
						<li class="completed"><a href="#"> <span class="circle">1</span>
								<span class="label">Dados Pessoais</span>
						</a></li>

						<!-- Second Step -->
						<li class="active"><a href="#!"> <span
								class="circle">2</span> <span class="label">Endereço</span>
						</a></li>

						<!-- Third Step -->
						<li class="active"><a href="#!"> <span class="circle">3</span>
								<span class="label">Responsável 1</span>
						</a></li>
						
						<li class="active"><a href="#!"> <span class="circle">4</span>
								<span class="label">Responsável 2</span>
						</a></li>

						<li class="active"><a href="#!" data-toggle="tooltip"
							data-placement="top" title="Você está aqui"> <span class="circle">5</span>
								<span class="label"><h4><b><u>Foto</u></b></h4></span>
						</a></li>

					</ul>
					<!-- /.Stepers Wrapper -->

				</div>
			</div>
			<!-- /.Horizontal Steppers -->

<!-- 			<h4>Foto</h4> -->

			<div class="custom-file">
				<input th:field="*{fileDatas}" type="file" class="custom-file-input" id="customFileLang"
					lang="PT-BR"> <label class="custom-file-label"
					for="customFileLang">Selecionar Arquivo</label>
			</div>


<!-- 			<div class="file-upload-wrapper"> -->
<!-- 			 	<input th:field="*{fileDatas}" type="file" id="input-file-now" class="file-upload" name="foto"/> -->
<!-- 			</div> -->
			<a class="btn btn-danger" th:href="@{/}">Cancelar</a> 
			
			<a class="btn btn-warning" onclick="goBack()">Passo Anterior</a>
			
			<input
				class="btn btn-success" type="submit"
				value="Finalizar Cadastro" />
		</form>
	</div>
	
<script type="text/javascript">
$('.file-upload').file_upload();
</script>