<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>

<title>Cadastrar Paciente - Passo 3</title>
</head>

<body>
	<div layout:fragment="content" class="container" align="center">
		<form
			th:action="@{/admin_empresa/pacientes/prepararCadastrarPacientePasso5}"
			th:object="${responsavel2}" method="POST">

			<!-- Horizontal Steppers -->
			<div class="row">
				<div class="col-md-12">

					<!-- Stepers Wrapper -->
					<ul class="stepper stepper-horizontal">

						<!-- First Step -->
						<li class="completed"><a href="#"> <span class="circle">1</span>
								<span class="label">Dados Pessoais</span>
						</a></li>

						<!-- Second Step -->
						<li class="active"><a href="#!"> <span class="circle">2</span>
								<span class="label">Endereço</span>
						</a></li>

						<!-- Third Step -->
						<li class="active"><a href="#!"> <span class="circle">3</span>
								<span class="label">Responsável 1</span>
						</a></li>

						<li class="active"><a href="#!" data-toggle="tooltip"
							data-placement="top" title="Você está aqui"> <span
								class="circle">4</span> <span class="label"><h4>
										<b><u>Responsável 2</u></b>
									</h4></span>
						</a></li>

						<li class="active"><a href="#!"> <span class="circle">5</span>
								<span class="label">Foto</span>
						</a></li>

					</ul>
					<!-- /.Stepers Wrapper -->

				</div>
			</div>
			<!-- /.Horizontal Steppers -->

			<input type="checkbox" id="editarResponsavel2"
				name="editarResponsavel2" onchange="validarCheckbox()">Não
			desejo informar o segundo responsável</input>
			<!-- 			onchange="validarCheckbox()" -->

			<div id="divResponsavel2">
			<h4>Responsável 2</h4>

				<div class="form-group">
					<label for="inputNome2">Nome do Responsável 2</label> <input
						type="text" th:field="${responsavel2.pessoa.nome}"
						class="form-control" id="inputNome2"
						placeholder="Nome do Responsável 2..."> <span
						th:if="${#fields.hasErrors('pessoa.nome')}"
						th:errors="*{pessoa.nome}" class="error text-danger"></span>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputCPF2">CPF</label> <input type="text"
							th:field="*{pessoa.cpf}" class="form-control" id="inputCPF2"
							placeholder="CPF do Responsável 2"> <span
							th:if="${#fields.hasErrors('pessoa.cpf')}"
							th:errors="*{pessoa.cpf}" class="error text-danger"></span>
					</div>

					<div class="form-group col-md-6">
						<label for="inputTelefone2">Telefone</label> <input type="text"
							th:field="*{pessoa.telefone}" class="form-control"
							id="inputTelefone2" placeholder="Telefone"> <span
							th:if="${#fields.hasErrors('pessoa.telefone')}"
							th:errors="*{pessoa.telefone}" class="error text-danger"></span>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6 md-form">
						<span>Selecione o sexo do responsável 2</span>
					</div>
					<div class="form-group col-md-6 ">
						<label for="inputSexo2"></label> <select id="sexo2"
							class="browser-default custom-select " name="sexo2">
							<option value="0" label="Selecione..." selected>Selecione...</option>
							<option value="M" label="Masculino"
								th:selected="${responsavel2.pessoa.sexo == M}">Masculino</option>
							<option value="F" label="Feminino"
								th:selected="${responsavel2.pessoa.sexo == F}">Feminino</option>
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6 md-form">
						<span>Filiação</span>
					</div>
					<div class="form-group col-md-6 ">
						<label for="inputFiliacao2"></label> <select id="filiacao2"
							class="browser-default custom-select " name="filiacao2">
							<option value="0" label="Selecione..." selected>Selecione...</option>
							<option value="Pai" label="Pai">Pai</option>
							<option value="Mãe" label="Mãe">Mãe</option>
						</select>
					</div>
				</div>
			</div>
	<div>
			<a class="btn btn-danger" th:href="@{/}">Cancelar</a>
<!-- 			<form th:action="@{/}"> -->
			 <a	class="btn btn-warning"  onclick="goBack()">Passo Anterior</a> 
<!-- 			  <input class="btn btn-warning" type="submit" value="Passo Anterior" />  -->
<!-- 				</form> -->
				<input class="btn btn-success" type="submit" value="Próximo Passo" />
	</div>
		</form>

		<script>
			function validarCheckbox() {
				if ( $('input[name="editarResponsavel2"]').is(':checked') ) {
// 				if ($('#editarResponsavel2').is('checked')) {
					$('#divResponsavel2').attr('hidden', true);
				} else {
					$('#divResponsavel2').removeAttr("hidden");
				}
			}
		</script>
	</div>
</body>
</html>