<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
	$(document)
			.ready(
					function() {

						$('#estadoId')
								.change(
										function() {

											$
													.getJSON(
															'http://localhost:8082/admin_empresa/pacientes/getCidades',
															{
																estadoId : $(
																		this)
																		.val(),
																ajax : 'true'
															},
															function(data) {

																var html = '<option value="0" label="Selecione...">Selecione</option>';
																var len = data.length;

																for (var i = 0; i < len; i++) {
																	html += '<option value="' + data[i].id + '" th:selected="' + data[i].id + '== ${idCidadeSelecionada}">'
																			+ data[i].nome
																			+ '</option>';
																}
																html += '</option>';

																$('#cidadeId')
																		.html(
																				html);
															});
										});

					});
</script>
<title>Cadastrar Paciente - Passo 2</title>
</head>

<body>
	<div layout:fragment="content" class="container" align="center">
		<form
			th:action="@{/admin_empresa/pacientes/prepararCadastrarPacientePasso3}"
			th:object="${paciente}" method="POST">

			<!-- Horizontal Steppers -->
			<div class="row">
				<div class="col-md-12">

					<!-- Stepers Wrapper -->
					<ul class="stepper stepper-horizontal">

						<!-- First Step -->
						<li class="completed"><a href="#"> <span class="circle">1</span>
								<span class="label">Dados Pessoais</span>
						</a></li>

						<!-- Second Step -->
						<li class="active"><a href="#!" data-toggle="tooltip"
							data-placement="top" title="Você está aqui"> <span
								class="circle">2</span> <span class="label"><h4>
										<b><u>Endereço</u></b>
									</h4></span>
						</a></li>

						<!-- Third Step -->
						<li class="active"><a href="#!"> <span class="circle">3</span>
								<span class="label">Responsável 1</span>
						</a></li>
						
						<li class="active"><a href="#!"> <span class="circle">4</span>
								<span class="label">Responsável 2</span>
						</a></li>
						

						<li class="active"><a href="#!"> <span class="circle">5</span>
								<span class="label">Foto</span>
						</a></li>

					</ul>
					<!-- /.Stepers Wrapper -->

				</div>
			</div>
			<!-- /.Horizontal Steppers -->

			<h4>Endereço</h4>
<!-- 			<div class="form-group md-form"> -->
<!-- 				<label for="inputNome">Nome Teste*</label> <input type="text" -->
<!-- 					th:field="*{pessoa.nome}" class="form-control" id="inputNome" -->
<!-- 					placeholder="Nome do Paciente..."> <span -->
<!-- 					th:if="${#fields.hasErrors('pessoa.nome')}" -->
<!-- 					th:errors="*{pessoa.nome}" class="error text-danger"></span> -->
<!-- 			</div> -->

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="estado">Estado*</label> <select id="estadoId"
						class="browser-default custom-select " name="estadoId">
						<!-- 					onclick="onEstadoChanged()" -->
						<option value="0" label="Selecione..." selected>Selecione</option>
						<option th:each="estado, status : ${estados}"
							th:value="${estado.id}" th:text="${estado.nome}" th:selected="${estado.id == idEstadoSelecionado}" >
							<!-- 							th:selected="${empresa.id == idEmpresa}"  -->
							<!-- th:object="${estado}" --> <input type="hidden"
								th:value="${estado.id}" th:name="${estado.id}" name="estadoId" />
						</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for=estado>Cidade*</label> <select id="cidadeId"
						class="browser-default custom-select " name="cidadeId">
						<option value="0" label="Selecione...">Selecione</option>
					</select>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCNPJ">CEP</label> <input type="text"
						th:field="*{pessoa.endereco.cep}" class="form-control" id="inputCEP"
						placeholder="CEP"> <span
						th:if="${#fields.hasErrors('pessoa.endereco.cep')}"
						th:errors="*{pessoa.endereco.cep}" class="error text-danger"></span>
				</div>

				<div class="form-group col-md-6">
					<label for="inputNumero">Número</label> <input type="text"
						th:field="*{pessoa.endereco.numero}" class="form-control"
						id="inputNumero" placeholder="Número"> <span
						th:if="${#fields.hasErrors('pessoa.endereco.numero')}"
						th:errors="*{pessoa.endereco.numero}" class="error text-danger"></span>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputBairro">Bairro/Povoado</label> <input type="text"
						th:field="*{pessoa.endereco.bairroPovoado}" class="form-control"
						id="inputBairroPovoado" placeholder="Bairro/Povoado"> <span
						th:if="${#fields.hasErrors('pessoa.endereco.bairroPovoado')}"
						th:errors="*{pessoa.endereco.bairroPovoado}" class="error text-danger"></span>
				</div>

				<div class="form-group col-md-6">
					<label for="inputLogadouro">Logadouro</label> <input type="text"
						th:field="*{pessoa.endereco.logadouro}" class="form-control"
						id="inputLogadouro" placeholder="Logadouro"> <span
						th:if="${#fields.hasErrors('pessoa.endereco.logadouro')}"
						th:errors="*{pessoa.endereco.logadouro}" class="error text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="inputComplemento">Complemento</label> <input type="text"
					th:field="*{pessoa.endereco.complemento}" class="form-control"
					id="inputComplemento" placeholder="Complemento"> <span
					th:if="${#fields.hasErrors('pessoa.endereco.complemento')}"
					th:errors="*{pessoa.endereco.complemento}" class="error text-danger"></span>
			</div>
			
<!-- 			<div class="form-row"> -->
<!-- 				<div class="form-group col-md-6"> -->
<!-- 					<label for="estado">test*</label> <select id="estadoId" -->
<!-- 						class="browser-default custom-select " name="estadoId"> -->
<!-- 											onclick="onEstadoChanged()" -->
<!-- 						<option value="0" label="Selecione...">Selecione</option> -->
<!-- 						<option value="1" >Acre</option> -->
<!-- 						<option value="2" >Alagoas</option> -->
<!-- 						<option value="3" >Amapá</option> -->
<!-- 						<option value="4" >Amazonas</option> -->
<!-- 						<option value="5" >Bahia</option> -->
<!-- 						<option value="6" th:selected="${1 == 1}" >Ceará</option> -->
<!-- 						</select> -->
<!-- 				</div> -->
			<a class="btn btn-danger" th:href="@{/}">Cancelar</a> 
			
			<a class="btn btn-warning" onclick="goBack()">Passo Anterior</a>
			
			<input
				class="btn btn-success" type="submit"
				value="Próximo Passo" />
		</form>
	</div>