<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>

<title>Cadastrar Paciente - Passo 3</title>
</head>

<body>
	<div layout:fragment="content" class="container" align="center">
		<form
			th:action="@{/admin_empresa/pacientes/prepararCadastrarPacientePasso4}"
			th:object="${responsavel1}" method="POST">

			<!-- Horizontal Steppers -->
			<div class="row">
				<div class="col-md-12">

					<!-- Stepers Wrapper -->
					<ul class="stepper stepper-horizontal">

						<!-- First Step -->
						<li class="completed"><a href="#"> <span class="circle">1</span>
								<span class="label">Dados Pessoais</span>
						</a></li>

						<!-- Second Step -->
						<li class="active"><a href="#!"> <span
								class="circle">2</span> <span class="label">Endereço</span>
						</a></li>

						<!-- Third Step -->
						<li class="active"><a href="#!" data-toggle="tooltip"
							data-placement="top" title="Você está aqui"> <span class="circle">3</span>
								<span class="label"><h4><b><u>Responsável 1</u></b></h4></span>
						</a></li>
						
						<li class="active"><a href="#!"> <span class="circle">4</span>
								<span class="label">Responsável 2</span>
						</a></li>

						<li class="active"><a href="#!"> <span class="circle">5</span>
								<span class="label">Foto</span>
						</a></li>

					</ul>
					<!-- /.Stepers Wrapper -->

				</div>
			</div>
			<!-- /.Horizontal Steppers -->

			<h4>Responsáveis</h4>
			<div class="form-group">
				<label for="inputNome1">Nome do Responsável 1*</label> <input type="text"
					th:field="${responsavel1.pessoa.nome}" class="form-control" id="inputNome1"
					placeholder="Nome do Responsável 1..."> <span
					th:if="${#fields.hasErrors('pessoa.nome')}"
					th:errors="*{pessoa.nome}" class="error text-danger"></span>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCPF1">CPF</label> <input type="text"
						th:field="*{pessoa.cpf}" class="form-control" id="inputCPF1"
						placeholder="CPF do Responsável 1"> <span
						th:if="${#fields.hasErrors('pessoa.cpf')}"
						th:errors="*{pessoa.cpf}" class="error text-danger"></span>
				</div>

				<div class="form-group col-md-6">
					<label for="inputTelefone1">Telefone</label> <input type="text"
						th:field="*{pessoa.telefone}" class="form-control"
						id="inputTelefone1" placeholder="Telefone"> <span
						th:if="${#fields.hasErrors('pessoa.telefone')}"
						th:errors="*{pessoa.telefone}" class="error text-danger"></span>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6 md-form">
					<span>Selecione o sexo do responsável 1*</span>
				</div>
				<div class="form-group col-md-6 ">
					<label for="inputSexo1"></label> <select id="sexo1"
						class="browser-default custom-select " name="sexo1">
						<option value="0" label="Selecione..." selected>Selecione...</option>
						<option value="M" label="Masculino" th:selected="${responsavel1.pessoa.sexo == M}" >Masculino</option>
						<option value="F" label="Feminino" th:selected="${responsavel1.pessoa.sexo == F}">Feminino</option>
					</select>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6 md-form">
					<span>Filiação*</span>
				</div>
				<div class="form-group col-md-6 ">
					<label for="inputFiliacao1"></label> <select id="filiacao1"
						class="browser-default custom-select " name="filiacao1">
						<option value="0" label="Selecione..." selected>Selecione...</option>
						<option value="Pai" label="Pai" >Pai</option>
						<option value="Mãe" label="Mãe">Mãe</option>
					</select>
				</div>
			</div>
			
			<a class="btn btn-danger" th:href="@{/}">Cancelar</a> 
			
			<a class="btn btn-warning" onclick="goBack()">Passo Anterior</a>
			
			<input
				class="btn btn-success" type="submit"
				value="Próximo Passo" />
		</form>
	</div>