<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>
<title>Gerenciar Pacientes</title>
</head>

<body>

	<div layout:fragment="content" class="container" align="center">

		<h4 align="left">Lista de Pacientes Cadastrados</h4>

		<form>

			<table class="table table-striped table-bordered" id="tabela">
				<thead align="center">
					<tr>
						<th>Foto</th>
						<th>CPF</th>
						<th>Nome</th>
						<th>Data Nascimento</th>
						<th>Sexo</th>
						<th>Editar</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="paciente: ${pacientes}" align="center">
						<td>
						<img th:src="${paciente.pessoa.enderecoFoto}" width="50px" />
						</td>
						<td th:text="${paciente.pessoa.cpf}" />
						<td th:text="${paciente.pessoa.nome}" />
						<td th:text="${paciente.pessoa.dataFormatada}" />
						<td th:text="${paciente.pessoa.sexo}" />
						<td><a
							th:href="@{/admin_empresa/resultado_avaliacao/prepararAlterarResultadoAvaliacaoPaciente(pacienteId=${paciente.id})}"
							class="far fa-edit" style="font-size: 28px;"></a></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>



</body>
</html>