<html th:fragment="barra_operacao"
	xmlns:th="http://www.w3.org/1999/xhtml">
<body>
		<div th:if="${tituloOperacao != null && descricaoOperacao != null}" class="jumbotron container" align="center">
			<h2>
				<span th:text="${tituloOperacao}"></span>
			</h2>
				<span th:text="${descricaoOperacao}"></span>
		</div>
</body>
</html>