<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!--  Css Datatables -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />

<!-- Layout personalizado do sistema (sobrescreve alguns estilos do bootstrap)-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/custom_layout.css}">

<!-- VERIFICAR DEPOIS  -->
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">

<!-- //VERIFICAR DEPOIS  -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"/>

</head>
<body>

	<div sec:authorize="hasRole('ROLE_ADMIN_SISTEMA')">
		<div th:replace="fragments/header_admin_sistema :: header_admin_sistema"></div>
	</div>
	
	<div sec:authorize="hasRole('ROLE_ADMIN_EMPRESA')">
		<div th:replace="fragments/header_admin_empresa :: header_admin_empresa"></div>
	</div>
	
	<div sec:authorize="hasRole('ROLE_FUNCIONARIO_EMPRESA')">
		<div th:replace="fragments/header_funcionario_empresa :: header_funcionario_empresa"></div>
	</div>
	
	<div sec:authorize="hasRole('ROLE_SECRETARIO_EMPRESA')">
		<div th:replace="fragments/header_secretario_empresa :: header_secretario_empresa"></div>
	</div>

	<div sec:authorize="hasRole('ROLE_USER')">
		<div th:replace="fragments/header_user :: header_user"></div>
	</div>

	<div sec:authorize="hasRole('ROLE_TEMP_ROLE')">
		<div th:replace="fragments/header :: header"></div>
	</div>
	
	<div class="alert alert-danger" th:if="${errorMessages != null and !errorMessages.empty}"  role="alert">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		<ul th:each="message : ${errorMessages}">
			<li th:text="${message}" />
		</ul>
	</div>
	
	<div class="alert alert-success" th:if="${successMessages != null and !successMessages.empty}"  role="alert">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		<ul th:each="message : ${successMessages}">
			<li th:text="${message}" />
		</ul>
	</div>
	
	<div class="alert alert-warning" th:if="${warningMessages != null and  !warningMessages.empty}"  role="alert">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		<ul th:each="message : ${warningMessages}">
			<li th:text="${message}" />
		</ul>
	</div>
	
	<div th:replace="fragments/barra_operacao :: barra_operacao"></div>

	<div layout:fragment="content"></div>

	<div th:replace="fragments/footer :: footer"></div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	
	<!-- JQuery  - precisa ser carregado ANTES do script do Datatables para funcionar-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Datatables -->
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

	<!-- VERIFICAR DEPOIS  -->
	<!--  Font awesome -->
	<script src="https://kit.fontawesome.com/4ed7b91217.js"></script>
	
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
	<!-- //VERIFICAR DEPOIS  -->
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
	
	<!-- jQuery mask -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
	
	<!-- TinyMCE Rich Text Editor -->	
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=5g5faf78gvk6yfq9bd3bbfjo858kjx1q8o0nbiwtygo2e4er"></script>

	<script type="text/javascript" th:src="@{/js/custom_script.js}"></script>
</body>
</html>