<footer th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Footer -->
<footer class="page-footer font-small blue bg-info" >

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: white;">2019 Copyright:
    <a href="https://www.google.com.br/" class="text-white"> SilvaMoreira</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</footer>
