<header xmlns="http://www.w3.org/1999/xhtml" th:fragment="header_admin_sistema">

	<nav class="navbar navbar-expand-lg navbar-light bg-info">
<!-- 		<nav class="navbar navbar-expand-lg navbar-light bg-info p-4 mr-3"> -->
		<a class="navbar-brand text-white" th:href="@{/}">Sysclini</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarNav">
			<ul class="nav nav-pills ">
				<li class="nav-item dropdown "><a
					class="nav-link dropdown-toggle text-white" href="#"
					id="navbarDropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Administração </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li class="dropdown-submenu"><a
							class="dropdown-item dropdown-toggle" href="#">Usuários</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/admin/usuarios}">Gerenciar
										Usuários</a></li>
							</ul></li>
							<li class="dropdown-submenu"><a
							class="dropdown-item dropdown-toggle" href="#">Empresas</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/admin/empresas}">Gerenciar
										Empresas</a></li>
							</ul></li>
					</ul></li>
			</ul>
		</div>
		<form action="${pageContext.request.contextPath}/logout" 
			   method="POST">
			<div>
			
			<ul class="navbar-nav justify-content-end">
			<li class="nav-link text-white"><span th:text="${#authentication.getPrincipal().getUsername()}"></span>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle text-white " data-toggle="dropdown"
					href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user-circle" style='font-size:28px; color: white;'></i></a>
					<ul class="dropdown-menu dropdown-menu-right dropdown-default">
						
						<li><a class="nav-item text-dark" th:href="@{/mostrarVinculos}">Vínculos</a></li>
						<li><a class="nav-item text-dark" th:href="@{/logout}">Sair</a></li>
						</ul>
			</ul>
		</div>
		</form>
	</nav>
</header>
