<html 
xmlns="http://www.w3.org/1999/xhtml"
layout:decorate="~{fragments/conteudo_principal}">
    <head>
     <title>403 - Acesso Negado</title>
     </head>
<body>
  <div layout:fragment="content" class="container" align="center">
<a th:href="@{/login}">Página de Login</a>
</div>
</body>
</html>

