<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>
<title>Página Inicial</title>
</head>

<body>
	<div layout:fragment="content" class="container" align="center">
		<form th:action="@{/admin/usuarios/cadastrarAlterarUsuario}"
			th:object="${usuario}" method="POST">
			<input type="hidden" th:value="${usuario.id}" th:name="${usuario.id}" name="usuarioId" />

			<h4>Dados Gerais</h4>
			<div class="form-group">
				<label for="inputLogin">Login</label> <input type="text"
					th:field="*{username}" class="form-control" id="inputLogin"
					placeholder="Login"> <span
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
					class="error text-danger"></span>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputEmail">E-mail</label> <input type="text"
						th:field="*{email}" class="form-control" id="inputEmail"
						placeholder="meuemail@email.com"> <span
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="error text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label for="inputTelefone">Telefone</label> <input type="text"
						th:field="*{telefone}" class="form-control" id="inputTelefone"
						placeholder="(99)99999-9999"> <span
						th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"
						class="error text-danger"></span>
<!-- 						class="alert-danger"></span> -->
						
				</div>
			</div>
			<hr>
			<h4>Permissões do Sistema</h4>
			<span>Selecione um ou mais papéis para operar no sistema</span><br>
			<br>
			<div class="form-row">
				<div class="form-group">
					<div th:each="papel, status : ${papeis}"
						th:object="${usuario.papeis}" align="left">
						<b><input class="form-check-input" type="checkbox" name="papelId"
							th:value="${papel.id}"
							th:text="${papel.titulo}" th:checked="${#sets.contains(usuario.papeis, papel)}"></b><br>
<!-- 							th:checked="${papeis[__${status.index}__].selecionado}"></b><br> -->
						<output th:value=${papel.descricao} th:text=${papel.descricao}></output>
						<input type="hidden" th:value="${papel.id}" th:name="${papel.id}" name="papelId" />
						<br><br>
					</div>
				</div>
			</div>
			<hr>
			<div class="form-row">
			<div class="form-group col-md-6">
				<span>Selecione uma empresa</span>
				</div>
				<div class="form-group col-md-6">
				<select id="empresa" class="browser-default custom-select " name="empresaId">
				<form th:object="${empresa}" method="POST">
					<option  value="0" label="Selecione..." selected>Selecione</option>
						<option th:each="empresa, status : ${empresas}" th:value="${empresa.id}" th:object="${empresa}" th:selected="${empresa.id == usuario.empresa.id}"
							th:text="${empresa.titulo}">
<!-- 							selected="${#lists.contains(empresa, usuario.empresa)}" -->
				<input type="hidden" th:value="${empresa.id}" th:name="${empresa.id}" name="empresaId" />
				</form>
							</option>
				</select>
				</div>
			</div>
			<hr>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputEmail">Senha</label> <input type="password"
						class="form-control" id="inputSenha" placeholder="Senha"
						th:field="*{password}">
				</div>
				<div class="form-group col-md-6">
					<label for="inputTelefone">Repetir Senha</label> <input
						type="password" class="form-control" id="inputRepetirSenha"
						placeholder="Repetir Senha" th:field="*{senhaRepetida}">
				</div>
			</div>
			<a class="btn btn-danger" th:href="@{/}">Cancelar</a> <input
				class="btn btn-success" type="submit" th:value="${operacaoButton}" />
		</form>
	</div>


</body>
</html>