<html 
xmlns="http://www.w3.org/1999/xhtml"
layout:decorate="~{fragments/conteudo_principal}">
    <head>
        <title>404 Not Found</title>
    </head>
    <body>
        <div layout:fragment="content" class="container" align="center">
        <h3>Página Não Encontrada</h3>
        <h1 th:text="${errorCode}"></h1>
        <p th:utext="${errorMessage}"></p>
        <a th:href="@{/}">Página Inicial</a>
        </div>
    </body>
</html>

