<html 
xmlns="http://www.w3.org/1999/xhtml"
layout:decorate="~{fragments/conteudo_principal}">
	

<head>
<title>Página Inicial</title>
</head>

<body>
	<div layout:fragment="content" class="container" align="center">
		<div class="jumbotron">
			<h1>Página Inicial</h1>
			<h5>Página inicial do sistema.</h5>
			<h5>Em construção...</h5>
		</div>
		<h1>Bem vindo(a), <span th:text=" ${#authentication.getPrincipal().getUsername()}"></span>!</h1></span>
<!-- 		<h4>Empresa: <b><span th:text=" ${usuario.empresa.titulo}"></span></b></h4></span> -->
<!-- 		<div sec:authorize="hasRole('ROLE_ADMIN')"> -->
<!-- 			<a class="text-dark" th:href="@{/admin}">Página Administrativa</a> -->

<!-- 		</div> -->
	</div>
</body>
</html>