<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>
<title>Gerenciar Usuarios</title>
</head>

<body>

	<div layout:fragment="content" class="container" align="center">

		<a th:href="@{/admin/usuarios/prepararCadastrarUsuario}"
			class="btn btn-success btn-sm">Cadastrar Novo Usuário</a>
			
		<h4 align="left">Lista de Usuários Cadastrados</h4>

		<form>

			<table class="table table-striped table-bordered" id="tabela">
				<thead align="center">
					<tr>
						<th>Login</th>
						<th>E-mail</th>
						<th>Telefone</th>
						<th>Editar</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="usuario: ${usuarios}" align="center">
						<td th:text="${usuario.username}" />
						<td th:text="${usuario.email}" />
						<td th:text="${usuario.telefone}" />
						<td><a
							th:href="@{/admin/usuarios/prepararAlterarUsuario(usuarioId=${usuario.id})}"
							class="far fa-edit" style="font-size: 28px;"></a></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>



</body>
</html>