<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/conteudo_principal}">


<head>
<title>Selecionar Vínculo</title>
</head>

<body>
	<div layout:fragment="content" class="container" align="center">

		<!-- 		<form> -->
		<!-- 		<div> -->
		<!-- 			<table class="bg-info table-hover"> -->
		<!-- 				<tr th:each="papel: ${papeis}" align="center"> -->
		<!-- 					<td><i th:class="${papel.icone}" style='font-size:72px; color: white;'></i></td> -->
		<!-- 					<td><h4><a th:href="@{/selecionarVinculo(papelId=${papel.id})}" class="text-white"><span  th:text="${papel.titulo}"></span></a></h4><td> -->
		<!-- 				</tr> -->
		<!-- 			</table> -->
		<!-- 		</div> -->
		<!-- 		</form> -->

		<div>
			<table class="bg-info table-hover">
				<tr th:each="papel: ${papeis}" th:object="${papel}" align="center">
					<form method="POST" th:action="@{/home}" th:object="${papel}">
					<td><i th:class="${papel.icone}"
						style='font-size: 72px; color: white;'> </i></td>
					<td><h4>
							<input type="hidden" th:value="${papel.id}" name="papelId" /> <input
								type="submit" th:value="${papel.titulo}"
								class="btn-info text-white border-0" style=" background-color: transparent"></input>
						</h4></td>
						<td class="bg-light" style="color: white">
					</form>
				</tr>
			</table>
		</div>

	</div>
</body>
</html>